
  body {
      height: 95vh;
      width: 94%;
  }


.container{
  min-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 44% 50%;
  grid-template-rows: 26.9% 43% 46% 20%;
  grid-template-areas:
  'header header header'
  'photo1 text text '
  'photo2 text text'
  'footer footer footer';
  grid-gap: 30px;
}


.item-1{
// background: green;
grid-area: header;
display: grid;
background-image: url(../img/Nature/DSC04334.jpg);
margin: -2% -6% 0 -2%;
align-items: center;
justify-content: space-between;
grid-template-columns: repeat(3, 33.33%)

}


.item-1 .buttonStyle{
  font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color:white;
    font-weight: 600;
    justify-self:center;
    // margin-left:35%;
}


.buttonStyle:hover{
  animation-name: transformButtons;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes transformButtons {
  0%{
    text-decoration: none; color:#bf1e02;
  }

  100%{
    transform: scale(1.2);
    text-decoration: none; color:#bf1e02;
  }

}


 .buttonStyle:active { text-decoration: none; color:#868686; }


.item-2{
  margin-top: 8%;
// background: blue;
grid-area: photo1;
margin-left: 4%;
overflow: hidden;
}


.item-3{
  margin-top: 2%;
  grid-area: photo2;
// background: red;
  margin-left: 4%;
  margin-bottom: 8%;
  overflow: hidden;
}


.item-4{
grid-area: text;
// background: purple;
margin-right: 4%;
margin-left: 8%;
align-self: center;
justify-self: center;
font-size: 150%;
}


.social-media{
  grid-area: footer;
  background:rgba(228, 232, 239, 0.4);;
  margin: 0 -6% -2% -2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}


.social-media a { text-decoration: none; color: black; transition: all .4s ease-out}
.social-media a:focus { text-decoration: none; color:black; }
.social-media a:hover { text-decoration: none; color:lightgrey; transform: scale(1.2);}
.social-media a:active{text-decoration: none; color:none;}
.social-media a:visited { text-decoration: none; color:none; }


.about-headshot{
  margin-left:5%;
  width: 95%;
  min-height:95%;
  transition: transform 2s;
}


.about-text{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


.about-text-quote{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: italic;
}
