*{
  margin:0;
  padding: 0;
}

body{
  height: 100vh;
  background: url(../img/Nature/IMG_1360.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcomeSentence{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15PX;
}


.buttonStyle{
  font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-decoration: none;
    color:white;
    font-weight: bold;

}


.buttonStyle:hover{
  animation-name: transformButtons;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes transformButtons {
  0%{
    text-decoration: none; color:#fb4e07;
  }
  50%{
    transform: scale(1.1);
    // text-decoration: none; color:#3cb3f3;
  }

}


 .buttonStyle:active { text-decoration: none; color:#868686; }


a:focus { text-decoration: none; color:#868686; }
a:hover { text-decoration: none; color:none; }
//.buttonStyle:visited { text-decoration: none; color:rgb(78,76,77); }


.buttons{
  margin: 200px 0 200px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 800px){
  .buttons{
    margin: 50px 100px 50px 100px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: justify-content;
    align-items: center;
  }

}

.backgroundImage{
width:100%;height:100%;position:absolute;top:0;left:0;z-index:-5000;
}


html {
  background: 'img/copy.jpg' no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
